
@import
"colourbrewer",
"plato",
"grid"
;

h1::before {
	content: '# ';
	color: lightgray;
}
h2::before {
	content: '## ';
	color: lightgray;
}
h3::before {
	content: '### ';
	color: lightgray;
}
h4::before {
	content: '#### ';
	color: lightgray;
}
h5::before {
	content: '##### ';
	color: lightgray;
}
h6::before {
	content: '###### ';
	color: lightgray;
}


.breaker {
    padding: 30px 0;
}
del {
    color: $grey-color-light;
}

// https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
.videowrapper {
	  position: relative;
	  padding-bottom: 56.25%; /* 16:9 */
	  padding-top: 25px;
	  height: 0;
}
.videowrapper iframe {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
}

// give posts a serif font
div.body > * {
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	line-height: 2em;
}

// fix PRE
pre {
	font-family: Consolas,monospace !important;
	font-size: 1em !important;
	line-height: 1em !important;
}

div.body > h1 {
	font-family: $base-font-family;
	font-size: 2.3em;
}
div.body > h2 {
	font-family: $base-font-family;
	font-size: 2em;
}

div.body > blockquote {
	font-style: initial;
}

$card: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
div.body img {
	box-shadow: $card;
}

.highlight {
	background-color: nth($posts-brand, 1);
}

.tags > ul {
	list-style: none;
	margin-left: 0px;
}
.tags > ul > li {
	display: inline;
}

.tags > ul > li:not(:last-child)::after {
	content: ',';
}
.tags > ul > li:first-child::before {
	content: '[';
}
.tags > ul > li:last-child::after {
	content: ']';
}