$plato-brand: cbrew('oranges', 7);
$c1: nth($plato-brand, 1);
$c2: nth($plato-brand, 2);


.posts {
    background-color: nth($plato-brand, 1) !important;
}
.quotes {
    background-color: nth($plato-brand, 2) !important;
}
