$plato-brand: cbrew('pubu', 9);
$paired: cbrew('paired', 12);

.about {
    background-color: nth($paired, 6) !important;
}
.posts {
    background-color: nth($plato-brand, 1) !important;
}
.quotes {
    background-color: nth($plato-brand, 2) !important;
}
.photograms {
    background-color: nth($plato-brand, 3) !important;
}
.chirps {
    background-color: nth($plato-brand, 4) !important;
}
.made {
    background-color: nth($plato-brand, 5) !important;
}
.work {
    background-color: nth($plato-brand, 6) !important;
}
.ml {
    background-color: nth($plato-brand, 7) !important;
}
.doodles {
    background-color: nth($plato-brand, 8) !important;
}
.portfolio {
    background-color: nth($plato-brand, 9) !important;
}

.altbox:nth-child(12n) { background-color: nth($paired, 1); }
.altbox:nth-child(12n+1) { background-color: nth($paired, 2); }
.altbox:nth-child(12n+2) { background-color: nth($paired, 3); }
.altbox:nth-child(12n+3) { background-color: nth($paired, 4); }
.altbox:nth-child(12n+4) { background-color: nth($paired, 5); }
.altbox:nth-child(12n+5) { background-color: nth($paired, 6); }
.altbox:nth-child(12n+6) { background-color: nth($paired, 7); }
.altbox:nth-child(12n+7) { background-color: nth($paired, 8); }
.altbox:nth-child(12n+8) { background-color: nth($paired, 9); }
.altbox:nth-child(12n+9) { background-color: nth($paired, 10); }
.altbox:nth-child(12n+10) { background-color: nth($paired, 11); }
.altbox:nth-child(12n+11) { background-color: nth($paired, 12); }

.box a {
    background-color: white;
    padding: 2px;
}

// things inside boxes
.altbox:nth-child(12n+10) small {
    color: black;
}
.box small {
    color: black;
    background-color: white;
}



.date {
    color: $grey-color;
}

.tag-header {
    background-color: nth($paired, 11);
	padding: 5px;
}

#tags_container li {
	list-style-type: none;
}
