---
layout: page
title: Posts by tag
---

<noscript>
  You don't have Javascript enabled, so please find the tag in the listing below.
</noscript>

<!-- <script async src="https://cse.google.com/cse.js?cx=63f7ab980e022c662"></script>
<div class="gcse-search"></div> -->

{% assign sorted_tags = (site.tags | sort:0) %}

<div id="tags_container">
  {% for tag in sorted_tags %}
    {% assign t = tag | first | downcase %}
    {% assign posts = tag | last %}

    <div id="{{t}}">
      <span class="tag-header">{{ t }}</span>
      <ul>
      {% for post in posts %}
        {% if post.tags contains t %}
        <li>
          <span class="date">{{ post.date | date: "%Y-%m-%d"  }}</span>

          {% if post.week %}<span class="date">Week {{ post.week }} &mdash;</span>{% endif %}

          <a href="{{ post.url }}">{{ post.title }}</a>
          <!-- {% if post.module %}
          <span style="color: #bbb">under "{{ post.module }}"</span>
          {% endif %} -->
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>

<script type="text/javascript">
var parent = document.getElementById('tags_container');

function getTag() {
	var parts = document.URL.split('#');
  return (parts.length > 1) ? parts[1] : null;
}

var tag = getTag();

if (tag !== null) {
  var children = parent.children
  for (var i=0; i < children.length; i++) {
    var child = children[i];
    if (child.id !== tag) {
      child.style = 'display: none;'
    }
  }

  // also offer the opportunity to see all tags
  var seeAll = document.createElement('a');
  seeAll.href = '/tags';
  seeAll.title = seeAll.text = 'See all tags.';
  seeAll.className = 'see_all_tags';
  parent.prepend(seeAll);
}
</script>



{% comment %}
<ul class="tags">
{% for tag in sorted_tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
  <li>{{t | downcase | replace:" ","-" }} has {{ posts | size }} posts</li>
{% endfor %}
</ul>
{% endcomment %}