<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper footerthings">

        <div class="foot1">
            <ul class="footer-list">
                <li class="p-name">
                    &copy; Unleash Your Server LTD 2018
                </li>
            </ul>

        </div>

        <div class="foot2">
            <h2>
                Product
            </h2>
            <ul class="footer-list">
                {% for path in page_paths %}
                {% assign my_page = site.pages | where: "path", path | first %}
                {% if my_page.title and my_page.title != 404 %}
                <li>
                    <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                </li>
                {% endif %}
                {% endfor %}

            </ul>
        </div>

        <div class="foot3">
            <h2>
                Contact
            </h2>

            <ul class="footer-list">
                {% if site.email %}
                <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                {% endif %}

                {% if site.github_username %}
                <li>
                    {% include icon-github.html username=site.github_username %}
                </li>
                {% endif %}

                {% if site.twitter_username %}
                <li>
                    {% include icon-twitter.html username=site.twitter_username %}
                </li>
                {% endif %}

            </ul>
        </div>

        <div class="foot4">
            <h2>
                Help us
            </h2>
            <h5>
                ...and get free pages!
            </h5>

            <ul class="footer-list">
                <li>
                    <a href="https://goo.gl/forms/pLz77NMqk6Nb0ueD2">Beta testing</a>
                </li>
                <li>
                    <a href="https://goo.gl/forms/lGFVmmlGnqzY0aG93">Feature Requests</a>
                </li>
                <li>
                    <a href="https://goo.gl/forms/4yTQNdlCHLNMQTHC2">New customers</a>
                </li>
            </ul>

        </div>


    </div>

</footer>
