html, body { 
	font-family: sans-serif;
	font-size: small; 
	/*color: rgb(255,255,255);*/ 
	/*background: url("imaxes/back1.png") rgb(70, 0, 0);*/
	padding: 0px;
	margin: 0px;
	line-height:10px;
	}
div.debug {
	background-color:#cfcfcf;
}