.thing1 {
    grid-area: thing1;
}
.thing2 {
    grid-area: thing2;
}
.thing3 {
    grid-area: thing3;
}
.threethings {
    display: grid;
    grid-gap: $spacing-unit;
    grid-template-areas: "thing1 thing2 thing3";
}

@include media-query($on-laptop) {
    .threethings {
        display: grid;
        grid-template-areas: "thing1" "thing2" "thing3";
    }
}

.foot1 {
    grid-area: foot1;
}
.foot2 {
    grid-area: foot2;
}
.foot3 {
    grid-area: foot3;
}
.foot4 {
    grid-area: foot4;
}
.footerthings {
    display: grid;
    grid-gap: $spacing-unit * 2;
    grid-template-areas: "foot1 foot2 foot3 foot4";
}

@include media-query($on-laptop) {
    .footerthings {
        display: grid;
        grid-template-areas: "foot1" "foot2" "foot3" "foot4";
    }
}
