.pricing {
    padding: $spacing-unit;
    background-color: lighten($brand-color, 20%);
    blockquote {
        background-color: white;
    }
    margin: 10px;
}
.pricing.super {
    background-color: lighten($accent-color, 10%) !important;
    margin: 0px;
}

a.calltoaction {

    transition: all .2s ease-in-out;
    & {

        background-color: $accent-color;
        color: white;
        padding: 6px;
        border-radius: 12px;
    }
    &:link,
    &:visited {
        color: white;
    }
    &:hover {
        background-color: white;
        color: $accent-color;
        padding: 6px;
        border-radius: 12px;
        text-decoration: none;
        transform: scale(1.2);
    }
}
