---
layout: default
---
<div class="content">
  <div class="post single">
      <!--
    <div class="meta">
        <p class="item tags small">
            {% for tag in page.tags %}<a href="/tag/{{ tag }}" class="tag">{{ tag }}</a>{% endfor %}
        </p>
    </div>
    -->

    <h1>{{ page.title }}</h1>

    <div class="tags">
      <ul>
      {% for tag in page.tags %}
        <li><a title="tag: {{tag}}" href="/tags#{{tag}}">{{ tag }}</a></li>
      {% endfor %}
      </ul>
    </div>

    <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
        {{ page.date | date: "%b %d, %Y" }}
    </info>

    <div class="breaker"></div>
    <div class="body">{{ content }}</div>


  {% if page.disqus_comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      window.disqus_identifier = {% if page.tumblr_id %}"{{ page.tumblr_id }}"{% else %}"{{ page.id }}"{% endif %};
    </script>
    <script async src="http://opyate.disqus.com/embed.js"></script>
    <noscript>Please enable JavaScript to view the
      <a href="http://disqus.com/?ref_noscript=opyate">comments powered by Disqus.</a>
    </noscript>
    {% include disqus.html %}
  {% endif %}

  <div class="previousnext">

    {% if page.previous.url %}
      <a class="pnbox prev" href="{{site.baseurl}}{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}

    {% if page.next.url %}
      <a class="pnbox next" href="{{site.baseurl}}{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}

  </div>

  </div>
</div>

